

# Pandas Series exercises

In [143]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.4



## Series creation

### Create an empty pandas Series



### Given the X python list convert it to an Y pandas Series, check its type

In [144]:
X=[1,2,3,4,5,6]
Y=pd.Series(X)
print(Y)
type(Y)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

pandas.core.series.Series

### Given the X numpy array convert it to an Y pandas Series, check its type

In [145]:
X=np.array([1,2,3,4,5,6])
Y=pd.Series(X)
type(Y)

pandas.core.series.Series

### Given the X Dictionary convert it to an Y pandas Series, check its type

In [146]:
X={"Name":"Jack", "Last Name":"Mccay", "year": 2019}

Y=pd.Series(X)
print(Y)
type(Y)

Name          Jack
Last Name    Mccay
year          2019
dtype: object

pandas.core.series.Series



### Given the X pandas Series, name it 'My letters'

In [147]:
import string
X = pd.Series([20, 33, 52, 10])
X.name="My_letters"



### Given the X pandas Series, show its values

In [148]:
X.values

array([20, 33, 52, 10], dtype=int64)

### Given the X pandas Series, show its index

In [149]:
X.index

RangeIndex(start=0, stop=4, step=1)



## Series indexation

### Assign index names to the given X pandas Series

In [150]:
names = ["apples", "oranges", "cherries", "pears"]
X.index=names

In [151]:
X

apples      20
oranges     33
cherries    52
pears       10
Name: My_letters, dtype: int64



### Given the X pandas Series, show its first element

In [152]:
X[0]

20



### Given the X pandas Series, show its last element

In [153]:
# your code goes here
X[-1]

10



### Given the X pandas Series, show all middle elements

In [154]:
# your code goes here
X[1:-1]

oranges     33
cherries    52
Name: My_letters, dtype: int64



### Given the X pandas Series, show the elements in reverse position

In [155]:
# your code goes here
X[::-1]

pears       10
cherries    52
oranges     33
apples      20
Name: My_letters, dtype: int64



### Given the X pandas Series, show the first and last elements, in one instruction

In [156]:
# your code goes here
X[0::len(X)-1]

apples    20
pears     10
Name: My_letters, dtype: int64



## Series manipulation

### Convert the given integer pandas Series to float

In [157]:
# your code goes here
X.astype("float")

apples      20.0
oranges     33.0
cherries    52.0
pears       10.0
Name: My_letters, dtype: float64



### Reverse the given pandas Series (first element becomes last)

In [158]:
# your code goes here
X[::-1]

pears       10
cherries    52
oranges     33
apples      20
Name: My_letters, dtype: int64



### Order (sort) the given pandas Series (values)

In [159]:
# your code goes here
X.sort_values()

pears       10
apples      20
oranges     33
cherries    52
Name: My_letters, dtype: int64

### Order (sort) the given pandas Series (index)

In [160]:
X.sort_index()

apples      20
cherries    52
oranges     33
pears       10
Name: My_letters, dtype: int64



### Given the X pandas Series, print unique values

In [161]:
# your code goes here
X.unique()

array([20, 33, 52, 10], dtype=int64)

### Given the X pandas Series, print the number of unique values

In [162]:
X.nunique()

4

### Given the X pandas Series, print the count of unique values

In [163]:
X.value_counts()

20    1
33    1
52    1
10    1
Name: My_letters, dtype: int64

### Given the X pandas Series, set the third element equal to 10

In [164]:
X[2]=10
X

apples      20
oranges     33
cherries    10
pears       10
Name: My_letters, dtype: int64



### Given the X pandas Series, change all the middle elements to 0

In [165]:
X[1:-1]=0
X

apples      20
oranges      0
cherries     0
pears       10
Name: My_letters, dtype: int64



### Given the X pandas Series, add 5 to every element

In [166]:
# your code goes here
X=X+5
X

apples      25
oranges      5
cherries     5
pears       15
Name: My_letters, dtype: int64



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [168]:
# your code goes here
X[X<0]

Series([], Name: My_letters, dtype: int64)



### Given the X pandas Series, get the negative elements

In [12]:
# your code goes here



### Given the X pandas Series, get numbers higher than 5

In [169]:
# your code goes here
X[X>5]

apples    25
pears     15
Name: My_letters, dtype: int64



### Given the X pandas Series, get numbers higher than the elements mean

In [171]:
# your code goes here
X[X>X.mean()]

apples    25
pears     15
Name: My_letters, dtype: int64



### Given the X pandas Series, get numbers equal to 2 or 10

In [201]:
# your code goes here
print(X[(X==2) | (X==10)])

Series([], Name: My_letters, dtype: int64)



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [202]:
# your code goes here
X.any()

True



### Given the X pandas Series, return True if any of its elements is zero

In [208]:
#Or using the in and s.values !
True if 0 in X.values else False

False

### Given the X pandas Series, return True if any of its indexes is zero

In [210]:
True if 0 in X.index else False

False



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [211]:
# your code goes here
X.sum()

50



### Given the X pandas Series, show the mean value of its elements

In [212]:
# your code goes here
X.mean()

12.5



### Given the X pandas Series, show the max value of its elements

In [213]:
# your code goes here
X.max()

25

## define a lambda function and then apply it to a pandas serie

In [97]:
sum = lambda X : X + 10
X.apply(sum)

apples      30
oranges     43
cherries    62
pears       20
Name: My_letters, dtype: int64