# 2.Answer the following questions using Pandas library.

In [38]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [39]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [40]:
df = pd.read_csv('./data/data_census.csv', header='infer')

In [41]:
df.shape

(281, 6)

In [42]:
df.head(10)

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
0,109,1001,"10,078,850","4,197,478",2.40,0.97
1,109,1188,"155,695","72,882",2.14,0.98
2,109,1189,"126,817","59,614",2.13,1.00
3,109,1158,"235,186","108,138",2.17,0.94
4,109,1105,"298,145","126,915",2.35,0.99
5,109,1032,"362,197","158,769",2.28,0.97
6,109,1065,"362,604","160,110",2.26,1.01
7,109,1190,"417,976","177,077",2.36,1.00
8,109,1106,"464,176","192,670",2.41,0.96
9,109,1006,"333,523","141,325",2.36,0.97

#### Answer the following questions using Pandas library.

1). Total population of ProvinceCode equal to 115 and 116:

In [43]:

df['Population']=df['Population'].str.replace(',','')
df=df.astype({'Population':float})
a=df[(df['Province Code']==115)]['Population'].sum()
b=df[(df['Province Code']==116)]['Population'].sum()
a+b

5970327.0

2). Average population of the cities where there are more males (GenderRatio >1):

In [44]:
df[df['Gender Ratio']>1]['Population'].mean()

419221.2076923077

3). Places with more males  (GenderRatio >1) and less than 2 persons per household:

In [50]:
x=df[(df['Gender Ratio']>1) & (df["Person's Household"]<2)]['City Code'].values
print (f'Places with more males  (GenderRatio >1) and less than 2 persons per household:',x)

Places with more males  (GenderRatio >1) and less than 2 persons per household: [1155 1240 1017 1033 1120 1163]

4). Sort the DataFrame in ascending order of the 'Households'. Show the top 10.

In [56]:
df.Households = df.Households.astype(str).str.replace(',','').astype('int64')
df=df.sort_values(['Households'], ascending=True)
df.head(10)

,Province Code,City Code,Population,Households,Person's Household,Gender Ratio
253,104,1163,10304.0,5365,1.92,1.15
244,104,1147,17984.0,8769,2.05,0.97
200,114,1179,23308.0,10877,2.14,0.98
150,101,1130,24283.0,11162,2.18,1.17
62,112,1155,20825.0,11172,1.86,1.29
199,114,1073,25181.0,11723,2.15,0.98
241,104,1039,24096.0,12091,1.99,1.00
213,113,1034,27115.0,12465,2.18,0.95
198,114,1193,26325.0,12531,2.10,1.00
243,104,1208,26353.0,13233,1.99,0.98