

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.4



## Series creation

### Create an empty pandas Series



### Given the X python list convert it to an Y pandas Series, check its type

In [ ]:
X=[]

### Given the X numpy array convert it to an Y pandas Series, check its type

### Given the X Dictionary convert it to an Y pandas Series, check its type



### Given the X pandas Series, name it 'My letters'



### Given the X pandas Series, show its values

### Given the X pandas Series, show its index



## Series indexation

### Assign index names to the given X pandas Series



### Given the X pandas Series, show its first element



### Given the X pandas Series, show its last element

In [2]:
# your code goes here



### Given the X pandas Series, show all middle elements

In [3]:
# your code goes here



### Given the X pandas Series, show the elements in reverse position

In [4]:
# your code goes here



### Given the X pandas Series, show the first and last elements, in one instruction

In [5]:
# your code goes here



## Series manipulation

### Convert the given integer pandas Series to float

In [6]:
# your code goes here



### Reverse the given pandas Series (first element becomes last)

In [7]:
# your code goes here



### Order (sort) the given pandas Series (values)

In [22]:
# your code goes here

### Order (sort) the given pandas Series (index)



### Given the X pandas Series, print unique values

In [9]:
# your code goes here

### Given the X pandas Series, print the number of unique values

### Given the X pandas Series, print the count of unique values

### Given the X pandas Series, set the fifth element equal to 10



### Given the X pandas Series, change all the middle elements to 0



### Given the X pandas Series, add 5 to every element

In [10]:
# your code goes here



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [11]:
# your code goes here



### Given the X pandas Series, get the negative elements

In [12]:
# your code goes here



### Given the X pandas Series, get numbers higher than 5

In [13]:
# your code goes here



### Given the X pandas Series, get numbers higher than the elements mean

In [14]:
# your code goes here



### Given the X pandas Series, get numbers equal to 2 or 10

In [15]:
# your code goes here



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [16]:
# your code goes here



### Given the X pandas Series, return True if any of its elements is zero

In [17]:
# your code goes here

In [18]:
#Or using the in and s.values !

### Given the X pandas Series, return True if any of its indexes is zero



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [19]:
# your code goes here



### Given the X pandas Series, show the mean value of its elements

In [20]:
# your code goes here



### Given the X pandas Series, show the max value of its elements

In [21]:
# your code goes here

## define a lambda function and then apply it to a pandas serie